@import "../neat/neat-helpers";

// Neat Overrides
/*
$column: 75px;
$gutter: 25px;
$grid-columns: 12;
$max-width: 1200px;
*/

// Breakpoints
$small-screen: em(321);
$medium-screen: em(769);
$large-screen: em(961);

$small-screen-down: new-breakpoint(max-width $small-screen);
$medium-screen-down: new-breakpoint(max-width $medium-screen);
$medium-screen-up: new-breakpoint(min-width $medium-screen);
$large-screen-up: new-breakpoint(min-width $large-screen);
